@media (max-width: 1024px) {
/*footer section*/
    .footer p, .footer li {
    font-size: 0.8rem;
    }

    .footer h4 {
        font-size: 1.5rem;
    }
}

@media (max-width: 991px) {
/*-- custom classes --*/
    .text-content {
        width: 100%;
    }

/*-- navbar brand --*/
    .nav-wrap .navbar-brand img {
        height: 3.8125rem;
    }

    .nav-wrap{
        text-align: center;
        background: var(--secondary-color);
    }

    .nav-wrap .nav-link {
        line-height: 1.875rem;
    }

/*-- banner design --*/
    .top-banner {
        padding: 9.375rem 0;
    }

/*=== About us design ===*/
    .position-absolute {
        top: 25rem !important;
    }

    .counter-section {
        margin: 30rem 0 0;
    }

/* Team Section */
    .carousel-control-next {
        top: 100% !important;
        left: 55% !important;
    }
    .carousel-control-prev {
        top: 100% !important;
        left: 45% !important;
    }
}

/*footer section*/
.footer {
    margin-top: 20rem;
}

@media (max-width: 768px) {
/*-- custom classes --*/
    h1{
        font-size: 2.8rem;
    }

    h2 {
        font-size: 2rem;
        line-height: 2.0625rem;
    }

    .top-banner h1, .top-banner p {
        color: var(--white-color);
    }

    /*=== About us design ===*/
    .position-absolute {
        top: 29rem !important;
    }

    .counter-section {
        margin: 37rem 0 0;
    }

    /* Team Section */
    .carousel-control-next {
        top: 100% !important;
        left: 55% !important;
    }
    .carousel-control-prev {
        top: 100% !important;
        left: 45% !important;
    }
/*training section*/
    .carousel-indicators {
        /* position: relative; */
        /* top: auto;
        left: 0; */
        bottom: -70px;
        /* height: 30px; */
        
    }

    /*footer section*/
    .footer {
        margin-top: 27rem;
    }
}

@media (max-width: 414px) {
/*=== About us design ===*/
    .position-absolute {
        top: 35rem !important;
    }

    .counter-section {
        margin: 42rem 0 0;
    }

    /* Team Section */
    .carousel-control-next {
        top: 100% !important;
        left: 55% !important;
    }
    .carousel-control-prev {
        top: 100% !important;
        left: 45% !important;
    }

    /*training section*/
    .training {
        /* padding: 2%; */
    }

    .training-carousel {
        /* position: absolute; */
        top: 100% !important;
    }

    /*footer section*/
    .footer {
        margin-top: 50%;
        padding: 5rem 5rem;
    }
    
}

@media (max-width: 375px) {
/*=== About us design ===*/
    .position-absolute {
        top: 35rem !important;
    }

    .counter-section {
        margin: 42rem 0 0;
    }

    /* Team Section */
    .carousel-control-next {
        top: 100% !important;
        left: 55% !important;
    }
    .carousel-control-prev {
        top: 100% !important;
        left: 45% !important;
    }

    /*training section*/
    .training {
        /* padding: 2%; */
    }

    .training-carousel {
        /* position: absolute; */
        top: 100% !important;
    }

    /*footer section*/
    .footer {
        margin-top: 50%;
        padding: 5rem 5rem;
    }
}

    @media (max-width: 320px) {
/*=== About us design ===*/
    .position-absolute {
        top: 40rem !important;
    }

    .counter-section {
        margin: 47rem 0 0;
    }

    /* Team Section */
    .carousel-control-next {
        top: 100% !important;
        left: 55% !important;
    }
    .carousel-control-prev {
        top: 100% !important;
        left: 45% !important;
    }

    /*training section*/
    .training {
        /* padding: 2%; */
    }

    .training-carousel {
        /* position: absolute; */
        top: 100% !important;
    }

    /*footer section*/
    .footer {
        margin-top: 50%;
        padding: 5rem 5rem;
    }
}
